.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
}

.card-container {
    width: 330px;
    height: 440px;
    border: solid 1px rgb(138, 134, 134);
    border-radius: 1em; /* Abgerundete Ecken */
    box-shadow: 5px 5px 5px grey;
}

@media (max-width: 900px) {
    .game-container {
        flex-direction: column;
        gap: 3em;
    }
}

.result{
    background-color: aqua;

}

.end-game-message {
    margin-top: 20px;
    font-size: 24px;
    color: red;
}
